<c-row> 
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a cButton class="btn btn-primary mb-3" routerLink="/user/user-list/{{ profileForm.get('user_type')?.value }}">Back</a> 
  </div>
  
  <c-col xs>
    <form #customStylesForm="ngForm"
            (ngSubmit)="profileSubmit()"
            [gutter]="3"
            [validated]="customStylesValidated"
            [formGroup]="profileForm"
            novalidate
            cForm cRow
            class="needs-validation"
      >
    <c-card class="mb-4">
      <c-card-body>
        
        <h2>Profile Details</h2>
        <c-row>
          <c-col [md]="12" class="mb-3">
            <c-row>
              <c-col [md]="6" class="mb-3">
                <img [src]="profileImage ? profileImage : 'assets/brand/GlobeTrader_Logo_small.png'" alt="Profile Image" class="user-profile-image" />
                <input cFormControl id="formFile" type="file" accept="image/*" (change)="onFileSelected($event)" />          
                <label cLabel for="formFile" class="mt-2">Select Image to update the Profile Image</label>
              </c-col>

              <c-col [md]="6" *ngIf="showStatusField" >
                <label cLabel for="status">User Status</label>
                <select cSelect id="status" required formControlName="status">
                  <option *ngFor="let opt of statusOptions" [value]="opt.value">
                    {{ opt.label }}
                  </option>
                </select>
              </c-col>
            </c-row>
          </c-col>

          <c-col [md]="6">
            <label cLabel for="first_name">First name</label>
            <input cFormControl id="first_name" required type="text" value="" [disabled]="true" formControlName="first_name"/>
            <!-- <c-form-feedback [valid]="true">Looks good!</c-form-feedback> -->
          </c-col>
          <c-col [md]="6">
            <label cLabel for="last_name">Last name</label>
            <input cFormControl id="last_name" required type="text" value="" formControlName="last_name"/>
            <!-- <c-form-feedback [valid]="true">Looks good!</c-form-feedback> -->
          </c-col>

          <c-col [md]="6">
            <label cLabel for="email">Email</label>
            <input cFormControl id="email" required type="email" value="" formControlName="email"/>
            <!-- <c-form-feedback [valid]="true">Looks good!</c-form-feedback> -->
          </c-col>

          <c-col [md]="6">
            <label cLabel for="phone">Phone</label>
            <input cFormControl id="phone" required type="text" value="" formControlName="phone"/>
            <!-- <c-form-feedback [valid]="true">Looks good!</c-form-feedback> -->
          </c-col>

          <c-col [md]="6">
            <label cLabel for="country">Country</label>
            <!-- <select cSelect id="country" required formControlName="country">
              <option value="">Choose Country...</option>
              <option *ngFor="let opt of countryOptions" [value]="opt">
                {{ opt }}
              </option>
            </select> -->
            <ng-select
              [items]="countryOptions"
              bindLabel="label"
              bindValue="id"
              [multiple]="false"
              [searchable]="true"
              formControlName="country"
              placeholder="Select Country">
            </ng-select>
            <!-- <c-form-feedback [valid]="false">Please choose country from the list.</c-form-feedback> -->
          </c-col> 

          <c-col [md]="6"></c-col>

          <c-col [md]="6">
            <label cLabel for="user_type">Register As</label>
            <select cSelect id="user_type" required formControlName="user_type" [class.readonly-select]="isReadonly"
    (mousedown)="preventSelectChange($event)">
              <option *ngFor="let opt of userTypeOptions" [value]="opt.value">
                {{ opt.label }}
              </option>
            </select>
            <!-- <c-form-feedback [valid]="false">Please provide a valid State.</c-form-feedback> -->
          </c-col>

          <c-col [md]="6" *ngIf="showDetails">
            <label cLabel for="role">Role</label>          
            <select cSelect id="role" formControlName="role">
              <option *ngFor="let opt of roles" [value]="opt">
                {{ opt }}
              </option>
            </select>          
            <!-- <c-form-feedback [valid]="false">Please provide a valid State.</c-form-feedback> -->
          </c-col>

        <!-- <c-col [md]="6">
          <label cLabel for="password">Password</label>
          <input cFormControl id="password" required type="password" formControlName="phone"/>
          <c-form-feedback [valid]="false">Enter Password</c-form-feedback>
        </c-col> -->
        </c-row>
        </c-card-body>
      </c-card>
      
      <c-card class="mb-4" *ngIf="showDetails">
        <c-card-body>
        <h2>Business Name</h2>
        <c-row>
          <c-col [md]="6">
            <label cLabel for="company_name">Company Name</label>
            <input cFormControl id="company_name" type="text" formControlName="company_name"/>
            
            <c-form-feedback [valid]="false" *ngIf="profileForm.get('company_name')?.invalid && profileForm.get('company_name')?.touched">Enter a valid Company Name</c-form-feedback>
          </c-col>

          <c-col [md]="6">
            <label cLabel for="website">Website URL</label>
            <input cFormControl id="website" type="text" formControlName="website"/>
            <c-form-feedback [valid]="false" *ngIf="profileForm.get('website')?.invalid && profileForm.get('website_url')?.touched">Enter a valid Website URL</c-form-feedback>
          </c-col>

          <c-col [md]="6">
            <label cLabel for="business_email">Business Email</label>
            <input cFormControl id="business_email" type="text" formControlName="business_email_address"/>
            <c-form-feedback [valid]="false" *ngIf="profileForm.get('business_email_address')?.invalid && profileForm.get('business_email_address')?.touched">Enter a valid Business Email</c-form-feedback>
          </c-col>

          <c-col [md]="6">
            <label cLabel for="business_registration_number">Business Registration Number</label>
            <input cFormControl id="business_registration_number" type="text" formControlName="business_registration_number"/>
            <c-form-feedback [valid]="false" *ngIf="profileForm.get('business_registration_number')?.invalid && profileForm.get('business_registration_number')?.touched">Enter a valid Business Registration Number</c-form-feedback>
          </c-col>
          
          <c-col [md]="6">
            <label cLabel for="business_country_names">Country of Operation</label>
            <!-- <select cSelect id="business_country_names" required formControlName="business_country_names">
              <option value="">Choose...</option>
              <option>...</option>
            </select> -->
            <ng-select
              [items]="countryOptions"
              bindLabel="label"
              bindValue="id"
              [multiple]="true"
              [searchable]="true"
              formControlName="business_country_names"
              placeholder="Select Country of Operation">
            </ng-select>

            <c-form-feedback [valid]="false">Please choose country from the list.</c-form-feedback>
          </c-col> 

          <c-col [md]="12">
            <label cLabel for="business_description">Business Description</label>
            <textarea cFormControl id="business_description" rows="3" formControlName="business_description"></textarea>
            <c-form-feedback [valid]="false">Please choose country from the list.</c-form-feedback>
          </c-col>           
          </c-row>
        </c-card-body>
      </c-card>

      <c-col [xs]="12">
        <button cButton class="me-1 mb-4" color="primary" type="submit">
          {{ newUser ? "Create" : "Update"}} Profile
        </button>
      </c-col>   
    
    </form>
  </c-col>
</c-row>

