<c-row>
  <div *ngIf="loading">Loading users...</div>
  <h4>{{ this.userType.replace('_', ' ') | titlecase }} User List</h4>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-body>
        <div class="table-header">
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search users..." />
            <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 custom-table">

            <!-- ID Column -->
            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
              <td mat-cell *matCellDef="let element"><img src="{{element.main_image}}" alt="{{element.product_name}}" style="width: 70px; height: auto;"/> </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="first_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
              <td mat-cell *matCellDef="let element">{{ element.first_name }}</td>
            </ng-container>

            <!-- SKU Column -->
            <ng-container matColumnDef="last_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
              <td mat-cell *matCellDef="let element">{{ element.last_name }}</td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
              <td mat-cell *matCellDef="let element">{{ element.email }}</td>
            </ng-container>

            <ng-container matColumnDef="country_code">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Country Code</th>
              <td mat-cell *matCellDef="let element">{{ element.country_code }}</td>
            </ng-container>

            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
              <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let element">
                <c-badge color="{{ element.status == 1 ? 'success' : (element.status == 2 ? 'danger' : 'warning') }}">
                  {{ element.status == 1 ? 'Approved' : (element.status == 2 ? 'Rejected' : 'Pending') }}
                </c-badge>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element" class="text-center actions-cell">
                <!-- <button mat-raised-button color="primary" (click)="onView(element)">View</button> -->
                <button cButton color="primary" class="btn mb-3 btn-primary btn-sm me-1 mb-1 mb-md-0" [routerLink]="['/user/profile', element.id]">Edit</button>
                <button cButton color="danger" class="btn mb-3 btn-primary btn-sm mb-1 mb-md-0" (click)="deleteProduct(element.id)">Delete</button>
              </td>
            </ng-container>
            

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>