<c-row>  
  <c-col xs>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a cButton color="primary" class="btn mb-3 btn-primary me-md-2" routerLink="/settings/role">Back</a>
    </div>
    
    <c-card class="mb-4">
      <c-card-body>
        <form #customStylesForm="ngForm"
            (ngSubmit)="categorySubmit()"
            [gutter]="3"
            [validated]="customStylesValidated"
            [formGroup]="roleForm"
            novalidate
            cForm cRow
            class="needs-validation"
      >
        <c-col [md]="12">
          <label cLabel for="name">Role name</label>
          <input cFormControl id="name" required type="text" value="" formControlName="name"/>
        </c-col>

        <c-col [md]="12">
          <label cLabel for="name">Role Description</label>
          <textarea cFormControl id="description" value="" formControlName="description"></textarea>
        </c-col>

        <c-col class="mt-4">  
            <h3>Permission List</h3>  
            <c-col [md]="12" *ngFor="let opt of options">
                <label>
                <input
                    type="checkbox"
                    [value]="opt.id"
                    (change)="onCheckboxChange($event)"
                    [checked]="roleForm.value.permissions.includes(opt.id)"
                />
                {{ opt.name }} [{{opt.description}}]
                </label>
            </c-col>
        </c-col>
        
        <button cButton class="me-1 mt-4" color="primary" type="submit" *ngIf="canUpdateRole">
          Update Role
        </button>
      </form>
    </c-card-body>
  </c-card>
</c-col>
</c-row>